<div class="page__container">
    <div class="page__content content-page">
        <div class="page__content_image content-page-item">
            <div class="row">
                <div class="column">
                    <img class="row-img" src="/img/mini/min_1.jpg" alt="">
                </div>
                <div class="column">
                    <img class="row-img" src="/img/mini/min_2.jpg" alt="">
                </div>
                <div class="column">
                    <img class="row-img" src="/img/mini/min_3.jpg" alt="">
                </div>
                <div class="column">
                    <img class="row-img" src="/img/mini/min_4.jpg" alt="">
                </div>
                <div class="column">
                    <img class="row-img" src="/img/mini/min_5.jpg" alt="">
                </div>
            </div>
            <div class="Large_image"><img class="Large_img" src="/img/1.jpg" alt=""></div>
        </div>
        <div class="page__content_description content-page-item">
            <div class="page__content__desription_name name-desciption">
                <p class="title">Пижама ля девочек</p>
                <p class="name-art">Арт. 02765/46</p>
                <div class="rating"><span>Отзывы</span>
                    <div class="rating-area">
                        <input type="radio" id="star-5" name="rating" value="5">
                        <label for="star-5" title="Оценка «5»"></label>
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4" title="Оценка «4»"></label>
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3" title="Оценка «3»"></label>
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2" title="Оценка «2»"></label>
                        <input type="radio" id="star-1" name="rating" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>
                    <span>14 Отзывов</span><span class="visit"><a href="">&gt</a></span>
                </div>
                <div class="price">
                    <span class="price-new">800 Р</span>
                    <span class="price-old"><s>1500 Р</s></span>
                    <span class="visit"><a href="">&gt</a></span>
                </div>
                <span class="border rating">скидка -36%</span><span class="border rating">акция -20%</span>
                <div class="size_selection">
                    <select class="size_select" name="select">
                        <option value="value1" selected>Выбрать размер</option>
                        <option value="value2">36</option>
                        <option value="value3">37</option>
                    </select>
                </div>
                <div class="product"><a class href="#">Определить размер</a></div>
                <div class="add-to-cart">
                    <form action="#" class="form-quantity">
                        <div class="qtyminus">-</div>
                        <input type="text" name="quantity" value="1" class="qty">
                        <div class="qtyplus">+</div>
                    </form>
                    <div class="add_favorite">
                        <a href="#" class="round-black-btn">Добавить в корзину</a>
                        <button class="btn"><i class="fa fa-heart"></i></button>
                    </div>
                </div>
                <div class="product"><a class="product" href="#">Купить в 1 клик</a></div>
                <div class="page__content__description_actions">
                    <ul class="product">
                        <li><a href="#" class="desc"><span>Описание товара</span></a></li>
                        <li><a href="#" class="shipping"><span>Доставка и возврат</span></a></li>
                        <li><a href="#" class="payment"><span>Способы оплаты</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="page__container_gallery gallery-container">
        <div class="main-picture">
            <div class="gallery-item">
                <img class="gallery-image" src="../img/2.jpg" alt="">
            </div>
        </div>
        <div class="sub-picture">
            <div class="gallery-item item-image">
                <img class="gallery-image" src="../img/3.jpg" alt="">
            </div>
            <div class="gallery-item item-image">
                <img class="gallery-image" src="../img/4.jpg" alt="">
            </div>
            <div class="gallery-item item-image">
                <img class="gallery-image" src="../img/5.jpg" alt="">
            </div>
            <div class="gallery-item item-image">
                <img class="gallery-image" src="../img/6.jpg" alt="">
            </div>
        </div>
    </div>

</div>
</div>